<header class="header">
  <div class="header__container container">
    <a href="" class="header__logo-link">
      <img class='header__logo' src="./img/OLEGatorRBW.svg" alt="логотип" width="200">
    </a> 
    <figure class="header__quote">
      <q class="header__quote-text">Делай, что можешь, с тем, что имеешь, там, где ты есть</q>
      <figcaption class="header__quote-author">Теодор Рузвельт</figcaption>
    </figure> 
    <div class="header__email">
      <a class='header__email-link' href="mailto:olegatorrbw@yandex.ru">olegatorrbw@yandex.ru</a>
    </div>
  </div>
</header>