<header class="header">
  <div class="header__container container">
    <a href="/" class="header__logo">
      <img src="./img/OLEGatorRBW.svg" alt="Лого" width="150">
    </a>    
    <div class="header__quote-wrapper">
      <figure class="header__quote">
        <q class="header__quote-text">Делай, что можешь, с тем, что имеешь, там, где ты есть</q>
        <figcaption class="header__quote-author">Теодор Рузвельт</figcaption>
      </figure>
    </div>
    <ul class="menu">
      <li class="menu__item">почитать</li>
      <li class="menu__item">послушать</li>
      <li class="menu__item">посмотреть</li>
    </ul>
  </div>
</header>