<header class="header">
  <div class="header__container container">
    <a href="/" class="header__logo">
      <img src="./img/OLEGatorRBW.svg" alt="Лого" width="150">
    </a>    
    <div class="header__quote-wrapper">
      <figure class="header__quote">
        <q>Делай, что можешь, с тем, что имеешь, там, где ты есть</q>
        <figcaption>— Теодор Рузвельт</figcaption>
      </figure>
    </div>    
    <a href="mailto:olegatorrbw@yandex.ru" class="header__email">olegatorrbw@yandex.ru</a>
  </div>
</header>