# Автоматически генерируемые папки
/node_modules
/dist
/.vscode
/.idea

# Логи и временные файлы
*.log
*.tmp
*.DS_Store

# Системные файлы
Thumbs.db

# Исходники изображений (если есть)
src/img/content/raw/
src/img/**/*.psd
src/img/**/*.ai

# Дополнительно для сборки
.cache/
.temp/

# Windows-специфика
[Dd]esktop.ini
*.lnk