
# Автоматически генерируемые папки
/node_modules
/dist
/.vscode

# Временные файлы
*.log
*.tmp
.DS_Store

# Игнорировать только RAW-исходники изображений
src/img/raw/
src/img/**/*.psd

# Явно разрешить всё в src/ (кроме указанного выше)
!src/**
