.footer {
  width: 100%;
  background: #fff; // Теперь переменная будет работать
  padding: 1rem   0;
  color: #000;
}

.footer__container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: end;
  gap: 0.5rem; // 8px between elements
  padding: 0 1rem;
}

.footer__ps, 
.footer__copyright {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75rem; /* 14px */
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
  padding: 0.125rem 0;
}

.footer__ps{
    margin: 0;
    padding: 0;
}

.footer__copyright{
   opacity: 0.8;
}