.footer {
  width: 100%;
  background: #fff; // Теперь переменная будет работать
  padding: 0;
  color: #000;
}

.footer__container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: end;
  border: 1px solid #000;
}

.footer__ps{
    margin: 0;
    padding: 0;
    border: 1px solid #000;
}

.footer__copyright{
        margin: 0;
    padding: 0;
    border: 1px solid #000;
}