.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  }

.header__logo {
  width: 200px;
  flex-shrink: 0;
  }

.header__quote-wrapper {
  position: absolute;
  left: 0;
  right: 0;

  width: fit-content; 

  margin: 0 auto;

  text-align: center;
}
