@use 'base/variables' as *;

.header {
   padding: $space-sm 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $space-md;
}

.header__logo {
  flex-shrink: 0;
  width: 180px;
  height: auto;
  display: block;
}

.header__quote {
  margin-bottom: $space-xs;
  text-align: center;
  padding: 0.3rem 0; 
}

.header__quote-wrapper {
  padding: 0 $space-sm; // 12px по бокам
}

.header__quote-text {
  font-family: 'Caveat', cursive;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1;
}

.header__quote-author {
  font-family: 'Caveat', cursive;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: $space-xxs;
}

.header__email {
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.85rem;
  white-space: nowrap;
  flex-shrink: 0;
}
