@use '../base/variables' as *;
.menu {
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;

  width: 200px;

  margin-left: 200px;
  padding: 0;
  
  list-style: none;
}

.menu__item{
  font-family: 'Alumni Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1;

  text-transform: uppercase;

  padding: 0;
}

.menu__link{
  color: $dark-color;
}