@use '../base/variables' as *;
.menu{
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  gap: 0.3rem;

  padding: 0;
  margin-left: auto;
  
  list-style-type: none;
}

.menu__item{
  font-family: 'Alumni Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1;

  text-transform: uppercase;

  padding: 0;
}

.menu__link{
  color: $dark-color;
}