@use '../base/variables' as *;
@use '../base/mixins' as vars;
@use 'sass:map';

.menu {
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;

  width: 200px;

  margin-left: 200px;
  padding: 0;
  
  list-style: none;
}

.menu__item{
  @include vars.font(
      $family: $font-olegatorrbw,
      $size: 1rem,
      $weight: map.get($font-weights, bold),
      $letter-spacing: 0.05em
    );

  text-transform: uppercase;

  padding: 0;
}

.menu__link{
  color: $dark-color;
}
