<head>
  @@include('../meta/charset.html')
  @@include('../meta/viewport.html')
  <title>@@title</title>
  @@include('../meta/css.html')
  
  <!-- Шрифты -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Dancing+Script:wght@600&family=Fira+Sans:wght@400;500&family=Fira+Sans+Condensed:wght@600;700&display=swap" 
        rel="stylesheet"
        media="print" 
        onload="this.media='all'">
  <noscript>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Dancing+Script:wght@600&family=Fira+Sans:wght@400;500&family=Fira+Sans+Condensed:wght@600;700&display=swap" 
          rel="stylesheet">
  </noscript>
</head>